@import url('https://fonts.googleapis.com/css?family=Montserrat|Abel|Raleway&display=swap');

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #1E1E1E;
    background-image: url('../res/background.svg');
    background-size: 10em;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

aside,
button,
nav {
    font-family: 'Abel', sans-serif;
}

.underline {
    font-style: italic;
}

.note,
.note a {
    color: gray;
}

a {
    color: #007ACC;
}

.important {
    color: red;
}

footer h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

article {
    text-align: center;
}

.separator1 {
    border-bottom: 1px solid #333;
    width: 45%;
    margin: 15px auto 15px auto;
}

:not(nav) > ul > li {
    margin-top: 10px;
}

footer {
    float: left;
    width: 100%;
    background-color: #111;
    text-align: center;
    font-size: 12px;
}

main{
    padding-bottom: 50px;
}

.headeur > img{
    float: left;
    width: 64px;
    margin-top: -103px;
}

nav img{
    width: 24px;
    position: absolute;
    margin-top: -2px;
    margin-left: 5px;
}

/*Large screen*/
@media screen and (min-width:1025px) {
    .header-img,
    .al-img{
        display: block;
        width:100%;
        max-width: 316px;
        margin-right: auto;
        margin-top: 5em;
        margin-left: auto;
    }

    .al-img{
        margin-top: 1.5em;
    }

    .install-txt {
        display: none;
    }

    .collumn {
        width: 50%;
    }

    .collumn.left {
        float: left;
        display: block;
        margin-left: 0;
        margin-right: auto;
    }

    .collumn.right {
        float: right;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}

/*Mid screens*/
@media screen and (max-width:1024px) and (min-width:781px) {
    .al-img,
    .header-img{
        width:316px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    ol {
        list-style-type: none;
    }

    .install-img {
        display: none;
    }

    .collumn {
        width: 100%;
    }
}

/*Computers*/
@media screen and (min-width:781px) {
    aside {
        position: fixed;
        text-align: center;
        margin: -125px 0px 0px -20%;
        padding: 10px;
        width: 150px;
    }

    aside p {
        margin: 0px 0px 5px 0px;
        font-style: normal;
    }

    button {
        background-color: #007ACC;
        border: 5px solid #007ACC;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(0, 60, 100);
        font-size: 18px;
    }

    #btn2 {
        background-color: #323131;
        border: 5px solid #323131;
        box-shadow: 2px 2px 5px #0f0f0f;
        margin-top: 8px;
    }

    button:hover {
        background-color: rgb(0, 100, 165);
        border: 5px solid rgb(0, 100, 165);
        cursor: pointer;
    }

    #btn2:hover {
        background-color: #202020;
        border: 5px solid #202020;
        cursor: pointer;
    }

    button a {
        text-decoration: none;
        color: black;
    }

    header p {
        font-style: italic;
        text-align: center;
    }

    .headeur {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 50px;
    }

    .headeur > img{
        margin-left: 46.5%;
    }

    h1 {
        margin-bottom: 70px;
    }

    figure {
        font-style: italic;
        font-size: 12px;
        background-color: #111;
        border: 0px solid black;
        border-radius: 0px 0px 10px 10px;
    }

    .install-img {
        border-radius: 10px 10px 10px 10px;
    }

    .install-img img {
        width: 100%;
    }

    ul {
        list-style-type: none;
    }

    .header-img img,
    .al-img img {
        width: 100%;
    }

    section {
        float: left;
        width: 100%;
    }

    main {
        float: left;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    /*NAVBAR*/
    nav {
        width: 50%;
        position: fixed;
        float: left;
        top: 0;
        z-index: 2;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 2;
        overflow: hidden;
        background-color: #111;
        border: 0px solid black;
        border-radius: 0px 0px 10px 10px;
    }

    nav li {
        float: left;
    }

    nav li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav li a:hover,
    .dropdown:hover .dropbtn {
        background-color: #333;
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #111;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #333;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .active {
        background-color: #68217a;
    }

    .active-mobile {
        background-color: #68217a;
    }
}

/*Mobile*/
@media screen and (max-width:780px) {
    .headeur {
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
    }

    .headeur > img{
        margin-left: 46%;
    }

    h1 {
        margin-bottom: 70px;
    }

    aside {
        display: none;
    }

    figure {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
        font-size: 12px;
        border: 0px solid black;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
    }

    .install-img {
        display: none;
    }

    /*NAVBAR*/

    nav {
        font-family: 'Abel', sans-serif;
        width: 100%;
        text-align: center;
    }

    nav a {
        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li a {
        display: block;
        padding: 5px 0px 5px 00px;
        background-color: #333;
        color: white;
    }

    .dropbtn {
        display: none;
    }

    .active-mobile {
        background-color: #68217a;
    }
}