@import url('https://fonts.googleapis.com/css?family=Montserrat|Abel|Raleway&display=swap');

:root {
    /*Main colors*/
    --background-light: #333;
    --background: #1E1E1E;
    --background-dark: #111;

    --accent1: #007ACC;
    --accent1-dark: rgb(0, 100, 165);
    --accent1-darker: rgb(0, 60, 100);

    --accent2: #323131;
    --accent2-dark: #202020;
    --accent2-darker: #0f0f0f;

    /*Nav*/
    --main-active: #68217a;
    --accent-active: #68217a;

    /*Various Text*/
    --text: white;
    --link: var(--accent1);
    --note: gray;
    --important: red;
    --button-text: black;
}


* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--background);
    background-image: url('../res/background.svg');
    background-size: 10em;
    color: var(--text);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

aside,
button,
nav {
    font-family: 'Abel', sans-serif;
}

.underline {
    font-style: italic;
}

.note,
.note a {
    color: var(--note);
}

a {
    color: var(--link);
}

.important {
    color: var(--important);
}

footer h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

article {
    text-align: center;
}

.separator1 {
    border-bottom: 1px solid var(--background-light);
    width: 45%;
    margin: 15px auto 15px auto;
}

:not(nav)>ul>li {
    margin-top: 10px;
}

footer {
    float: left;
    width: 100%;
    background-color: var(--background-dark);
    text-align: center;
    font-size: 12px;
}

footer img {
    vertical-align: middle;
    margin-top: 5px;
}

main {
    padding-bottom: 50px;
}

.headeur>img {
    float: left;
    width: 64px;
    margin-top: -103px;
}

nav img {
    width: 24px;
    position: absolute;
    margin-top: -2px;
    margin-left: 5px;
}

/*Large screen*/
@media screen and (min-width:1025px) {
    .side-img {
        display: block;
        width: 100%;
        max-width: 316px;
        margin-right: auto;
        margin-top: 5em;
        margin-left: auto;
    }

    .retro-img {
        margin-top: 2.5em;
    }

    .install-txt ol {
        list-style-type: none;
    }

    .collumn {
        width: 50%;
    }

    .collumn.left {
        float: left;
        display: block;
        margin-left: 0;
        margin-right: auto;
    }

    .collumn.right {
        float: right;
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}

/*Mid screens*/
@media screen and (max-width:1024px) and (min-width:781px) {
    .side-img {
        width: 316px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ol {
        list-style-type: none;
    }

    .install-img {
        display: none;
    }

    .collumn {
        width: 100%;
    }
}

/*Computers*/
@media screen and (min-width:781px) {
    aside {
        position: fixed;
        text-align: center;
        margin: -125px 0px 0px -20%;
        padding: 10px;
        width: 150px;
    }

    aside p {
        margin: 0px 0px 5px 0px;
        font-style: normal;
    }

    button {
        background-color: var(--accent1);
        border: 5px solid var(--accent1);
        border-radius: 5px;
        box-shadow: 2px 2px 5px var(--accent1-darker);
        font-size: 18px;
    }

    #btn2 {
        background-color: var(--accent2);
        border: 5px solid var(--accent2);
        box-shadow: 2px 2px 5px var(--accent2-darker);
        margin-top: 8px;
    }

    button:hover {
        background-color: var(--accent1-dark);
        border: 5px solid var(--accent1-dark);
        cursor: pointer;
    }

    #btn2:hover {
        background-color: var(--accent2-dark);
        border: 5px solid var(--accent2-dark);
        cursor: pointer;
    }

    button a {
        text-decoration: none;
        color: var(--button-text);
    }

    header p {
        font-style: italic;
        text-align: center;
    }

    .headeur {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 50px;
    }

    .headeur>img {
        margin-left: 46.5%;
    }

    h1 {
        margin-bottom: 70px;
    }

    figure {
        font-style: italic;
        font-size: 12px;
        background-color: var(--background-dark);
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px 0px 10px 10px;
    }

    .install-img {
        border-radius: 10px 10px 10px 10px;
    }

    ul {
        list-style-type: none;
    }

    .side-img img,
    .install-img img {
        width: 100%;
    }

    section {
        float: left;
        width: 100%;
    }

    main {
        float: left;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    /*NAVBAR*/
    nav {
        width: 50%;
        position: fixed;
        float: left;
        top: 0;
        z-index: 2;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 2;
        overflow: hidden;
        background-color: var(--background-dark);
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px 0px 10px 10px;
    }

    nav li {
        float: left;
    }

    nav li a,
    .dropbtn {
        display: inline-block;
        color: var(--text);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    nav li a:hover,
    .dropdown:hover .dropbtn {
        background-color: var(--background-light);
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--background-dark);
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: var(--background-light);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/*Mobile*/
@media screen and (max-width:780px) {
    .headeur {
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
    }

    .headeur>img {
        margin-left: 46%;
    }

    h1 {
        margin-bottom: 70px;
    }

    aside {
        display: none;
    }

    figure {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
        font-size: 12px;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px 0px 10px 10px;
        text-align: center;
    }

    .install-img {
        display: none;
    }

    /*NAVBAR*/

    nav {
        font-family: 'Abel', sans-serif;
        width: 100%;
        text-align: center;
    }

    nav a {
        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        background-color: var(--background-light);
    }

    li a {
        display: block;
        padding: 5px 0px 5px 00px;
        color: var(--text);
    }

    .dropbtn {
        display: none;
    }
}
