.anchor {
    top: -49px;
}

.flex.column {
    flex-direction: column;
}

#projects .card {
    position: relative;
    height: 550px;
}

#projects .card>p:last-of-type {
    position: absolute;
    bottom: 0;
}

/*NAVBAR*/
nav {
    width: 100%;
    position: fixed;
    float: left;
    top: 0;
    font-family: 'Abel', sans-serif;
    z-index: 2;
}

nav>ul {
    padding-left: 25%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    background-color: var(--background-dark);
    border: 0px solid rgba(0, 0, 0, 0);
}

nav li {
    float: left;
}

nav li a,
.dropbtn {
    display: inline-block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--background-light);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-dark);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--background-light);
}

.dropdown:hover .dropdown-content {
    display: block;
}