.animate__animated.animate__delay-0-25s {
	-webkit-animation-delay: calc(1s * 0.25);
	animation-delay: calc(1s * 0.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 0.25);
	animation-delay: calc(var(--animate-delay) * 0.25);
}
.animate__animated.animate__delay-0-5s {
	-webkit-animation-delay: calc(1s * 0.5);
	animation-delay: calc(1s * 0.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 0.5);
	animation-delay: calc(var(--animate-delay) * 0.5);
}
.animate__animated.animate__delay-0-75s {
	-webkit-animation-delay: calc(1s * 0.75);
	animation-delay: calc(1s * 0.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 0.75);
	animation-delay: calc(var(--animate-delay) * 0.75);
}
.animate__animated.animate__delay-1-25s {
	-webkit-animation-delay: calc(1s * 1.25);
	animation-delay: calc(1s * 1.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 1.25);
	animation-delay: calc(var(--animate-delay) * 1.25);
}
.animate__animated.animate__delay-1-5s {
	-webkit-animation-delay: calc(1s * 1.5);
	animation-delay: calc(1s * 1.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 1.5);
	animation-delay: calc(var(--animate-delay) * 1.5);
}
.animate__animated.animate__delay-1-75s {
	-webkit-animation-delay: calc(1s * 1.75);
	animation-delay: calc(1s * 1.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 1.75);
	animation-delay: calc(var(--animate-delay) * 1.75);
}
.animate__animated.animate__delay-2-25s {
	-webkit-animation-delay: calc(1s * 2.25);
	animation-delay: calc(1s * 2.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 2.25);
	animation-delay: calc(var(--animate-delay) * 2.25);
}
.animate__animated.animate__delay-2-5s {
	-webkit-animation-delay: calc(1s * 2.5);
	animation-delay: calc(1s * 2.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 2.5);
	animation-delay: calc(var(--animate-delay) * 2.5);
}
.animate__animated.animate__delay-2-75s {
	-webkit-animation-delay: calc(1s * 2.75);
	animation-delay: calc(1s * 2.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 2.75);
	animation-delay: calc(var(--animate-delay) * 2.75);
}
.animate__animated.animate__delay-3-25s {
	-webkit-animation-delay: calc(1s * 3.25);
	animation-delay: calc(1s * 3.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 3.25);
	animation-delay: calc(var(--animate-delay) * 3.25);
}
.animate__animated.animate__delay-3-5s {
	-webkit-animation-delay: calc(1s * 3.5);
	animation-delay: calc(1s * 3.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 3.5);
	animation-delay: calc(var(--animate-delay) * 3.5);
}
.animate__animated.animate__delay-3-75s {
	-webkit-animation-delay: calc(1s * 3.75);
	animation-delay: calc(1s * 3.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 3.75);
	animation-delay: calc(var(--animate-delay) * 3.75);
}
.animate__animated.animate__delay-4-25s {
	-webkit-animation-delay: calc(1s * 4.25);
	animation-delay: calc(1s * 4.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 4.25);
	animation-delay: calc(var(--animate-delay) * 4.25);
}
.animate__animated.animate__delay-4-5s {
	-webkit-animation-delay: calc(1s * 4.5);
	animation-delay: calc(1s * 4.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 4.5);
	animation-delay: calc(var(--animate-delay) * 4.5);
}
.animate__animated.animate__delay-4-75s {
	-webkit-animation-delay: calc(1s * 4.75);
	animation-delay: calc(1s * 4.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 4.75);
	animation-delay: calc(var(--animate-delay) * 4.75);
}
.animate__animated.animate__delay-5-25s {
	-webkit-animation-delay: calc(1s * 5.25);
	animation-delay: calc(1s * 5.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 5.25);
	animation-delay: calc(var(--animate-delay) * 5.25);
}
.animate__animated.animate__delay-5-5s {
	-webkit-animation-delay: calc(1s * 5.5);
	animation-delay: calc(1s * 5.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 5.5);
	animation-delay: calc(var(--animate-delay) * 5.5);
}
.animate__animated.animate__delay-5-75s {
	-webkit-animation-delay: calc(1s * 5.75);
	animation-delay: calc(1s * 5.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 5.75);
	animation-delay: calc(var(--animate-delay) * 5.75);
}
.animate__animated.animate__delay-6s {
	-webkit-animation-delay: calc(1s * 6);
	animation-delay: calc(1s * 6);
	-webkit-animation-delay: calc(var(--animate-delay) * 6);
	animation-delay: calc(var(--animate-delay) * 6);
}
.animate__animated.animate__delay-6-25s {
	-webkit-animation-delay: calc(1s * 6.25);
	animation-delay: calc(1s * 6.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 6.25);
	animation-delay: calc(var(--animate-delay) * 6.25);
}
.animate__animated.animate__delay-6-5s {
	-webkit-animation-delay: calc(1s * 6.5);
	animation-delay: calc(1s * 6.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 6.5);
	animation-delay: calc(var(--animate-delay) * 6.5);
}
.animate__animated.animate__delay-6-75s {
	-webkit-animation-delay: calc(1s * 6.75);
	animation-delay: calc(1s * 6.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 6.75);
	animation-delay: calc(var(--animate-delay) * 6.75);
}
.animate__animated.animate__delay-7s {
	-webkit-animation-delay: calc(1s * 7);
	animation-delay: calc(1s * 7);
	-webkit-animation-delay: calc(var(--animate-delay) * 7);
	animation-delay: calc(var(--animate-delay) * 7);
}
.animate__animated.animate__delay-7-25s {
	-webkit-animation-delay: calc(1s * 7.25);
	animation-delay: calc(1s * 7.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 7.25);
	animation-delay: calc(var(--animate-delay) * 7.25);
}
.animate__animated.animate__delay-7-5s {
	-webkit-animation-delay: calc(1s * 7.5);
	animation-delay: calc(1s * 7.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 7.5);
	animation-delay: calc(var(--animate-delay) * 7.5);
}
.animate__animated.animate__delay-7-75s {
	-webkit-animation-delay: calc(1s * 7.75);
	animation-delay: calc(1s * 7.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 7.75);
	animation-delay: calc(var(--animate-delay) * 7.75);
}
.animate__animated.animate__delay-8s {
	-webkit-animation-delay: calc(1s * 8);
	animation-delay: calc(1s * 8);
	-webkit-animation-delay: calc(var(--animate-delay) * 8);
	animation-delay: calc(var(--animate-delay) * 8);
}
.animate__animated.animate__delay-8-25s {
	-webkit-animation-delay: calc(1s * 8.25);
	animation-delay: calc(1s * 8.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 8.25);
	animation-delay: calc(var(--animate-delay) * 8.25);
}
.animate__animated.animate__delay-8-5s {
	-webkit-animation-delay: calc(1s * 8.5);
	animation-delay: calc(1s * 8.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 8.5);
	animation-delay: calc(var(--animate-delay) * 8.5);
}
.animate__animated.animate__delay-8-75s {
	-webkit-animation-delay: calc(1s * 8.75);
	animation-delay: calc(1s * 8.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 8.75);
	animation-delay: calc(var(--animate-delay) * 8.75);
}
.animate__animated.animate__delay-9s {
	-webkit-animation-delay: calc(1s * 9);
	animation-delay: calc(1s * 9);
	-webkit-animation-delay: calc(var(--animate-delay) * 9);
	animation-delay: calc(var(--animate-delay) * 9);
}
.animate__animated.animate__delay-9-25s {
	-webkit-animation-delay: calc(1s * 9.25);
	animation-delay: calc(1s * 9.25);
	-webkit-animation-delay: calc(var(--animate-delay) * 9.25);
	animation-delay: calc(var(--animate-delay) * 9.25);
}
.animate__animated.animate__delay-9-5s {
	-webkit-animation-delay: calc(1s * 9.5);
	animation-delay: calc(1s * 9.5);
	-webkit-animation-delay: calc(var(--animate-delay) * 9.5);
	animation-delay: calc(var(--animate-delay) * 9.5);
}
.animate__animated.animate__delay-9-75s {
	-webkit-animation-delay: calc(1s * 9.75);
	animation-delay: calc(1s * 9.75);
	-webkit-animation-delay: calc(var(--animate-delay) * 9.75);
	animation-delay: calc(var(--animate-delay) * 9.75);
}
.animate__animated.animate__delay-10s {
	-webkit-animation-delay: calc(1s * 10);
	animation-delay: calc(1s * 10);
	-webkit-animation-delay: calc(var(--animate-delay) * 10);
	animation-delay: calc(var(--animate-delay) * 10);
}

